/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* utilizzati in più occasioni */
.button {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

.center {
    width: 90%;
    margin: auto;
}

/* header */

/* navigation bar */
#top-bar {
    position: sticky;
    height: 50px;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.logo {
    float: left;
}

#top-bar a{
    float: right;
}

#top-bar li {
    display: inline-block;
    margin: 0 10px;
}

#ul-left{
    float: left;    
}

#ul-right {
    margin-left: 30%;
    float: left;
}

/* jumbotron */

#jumbo {
    background-color: lightblue;
    padding: 50px 0;
}



#jumbo img {
    float: right;
    height: 500px;
}

#jumbo h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 40px;
}

.left {
    float: left;
    max-width: 28%;
}

.left p{
    padding: 0 0 20px;
    line-height: 20px;
}

.left h2 {
    padding: 20px 0 30px;
}
.fa-arrow-down {
    font-size: 30px;
}

/* main */


/* footer */

#foot {
    background-color: black;
    color: white;
}

.foot-colum {
    float: left;
    padding-right: 8%;
    padding-top: 100px;
}

.foot-colum ul {
    list-style-type: none;
}

.foot-colum h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.foot-colum li {
    line-height: 30px;
}

#lenguage {
    color: gray;
    padding: 50px 0 40px;
    border-top: gray 1px solid;
    float: left;
}

#bug {
    padding-bottom: 100px;
}