/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* utilizzati in più occasioni */
.button {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.center {
    width: 90%;
    margin: auto;
}

.b-alternative {
    color: black;
    background-color: white;
    border: 1px solid grey;
}

/* HEADER */

/* navigation bar */
#top-bar {
    position: sticky;
    top: 0px;
    margin: auto;
    z-index: 99;
    background-color: white;
    padding: 15px 0;
}

#top-bar a {
    float: right;
    text-decoration: none;
}

#top-bar a:hover {
    border-bottom: blue 1px solid;
}

#top-bar li {
    display: inline-block;
    margin: 0 10px;
}

#ul-left {
    float: left;
}

#ul-right {
    float: right;
}

/* jumbotron */

#jumbo {
    background-color: lightblue;
    padding: 50px 0;
}



#jumbo img {
    float: right;
    height: 500px;
}

#jumbo h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 40px;
}

#left {
    float: left;
    max-width: 28%;
}

#left p {
    padding: 0 0 20px;
    line-height: 20px;
}

#left h2 {
    padding: 20px 0 30px;
}

.fa-arrow-down {
    font-size: 30px;
}

/* MAIN */
.middle-main {
    width: 70%;
    margin: auto;
}

/* SEZIONE 1 */

#plane-cost h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.pillar {
    float: left;
    width: calc(90% / 3);
    border:1px solid gray;
    margin-top: 20px;
}

.p-center {
    margin: 20px 30px 0 30px;
}

.fa-user {
    font-size: 20px;
}

.plane {
    text-align:center;
    padding: 10px 0;
    border: grey 1px solid;

}

.p-inside {
    padding: 20px 10px 200px 20px;
    line-height: 50px;
    min-height: 1100px;
}

.p-inside hr {
    padding-right: 100px;
    display: inline-block;
    border: 0.5px solid gray
}

.fa-check {
    color: blue;
}

.p-inside ul {
    list-style-type: none;
}

.p-inside h2 {
    font-weight: bolder;
}

.p-inside-cost {
    font-weight: bolder;
    font-size: 20px;
} 

.p-inside p {
    font-size: 15px;
}

.space {
    margin-top: 20px;
}

/* SEZIONE 2 */
#s2 {
    border: gray 1px solid;
    margin-top: 50px;
}

#s2-up {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}

#s2-left {
    float: left;
    line-height: 40px;
    padding: 20px 0 20px 20px;
}

#s2-right {
    float: right;
    padding: 40px 10px ;
}

/* SEZIONE 3 */
#s3 {
    margin-top: 50px;
}

#s3 img {
    float: left;
    width: 55%;

}

#s3-text {
    float: right;
    width: 45%;
    padding-left: 10%;
    line-height: 30px;
}

#s3-text p {
    margin: 20px 0;
}

/* SEZIONE 4 */
#s4 {
    margin: 30px 0;
}

#s4 h1 {
    font-size: 40px;
    font-weight: 600;
}

.s4-row {
    float: left;
    width: calc(90% / 3);
    margin: 30px 0;
    min-height: 500px;
}

.s4-row img {
    width: 100%;
}

.s4-row-middle {
    margin: 30px 50px;
}

.s4-row h3 {
    font-weight: 600;
}

/* SEZIONE 5 */
#s5 {
    margin-top: 50px;
    line-height: 50px;
}

#s5 h1 {
    font-size: 40px;
    font-weight: 600;
}

#s5-text {
    background-color: #f5f5f5;
    float: left;
    width: 41%;
    padding: 50px;
    min-height: 500px;
    max-height: 500px;
    line-height: normal;
    font-weight: 600;
}

.s5-img-inside-text {
    width: 200px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

#s5-text h3 {
    margin-top: 100px;
}

.s5-box-img {
    float: left;
    width: 29.5%;
    position: relative;
    height: 500px;
}

.s5-box-img img {
    width: 280px;
    height: 250px;
    padding: 60px;
}

#img-1 {
    background-color: #a2d39b;
    position: absolute;
    top: 0;
    left: 0;
    border:solid 10px #d0e9cd;
}

#img-2 {
    background-color:#61082b;
    position: absolute;
    top: 0;
    left: 50%;

}

#img-3 {
    background-color:#0093ce;
    position: absolute;
    top: 50%;
    left: 0;

}

#img-4 {
    background-color: #ff1c1c;
    position: absolute;
    top: 50%;
    left: 50%;
}

#img-5 {
    background-color: #d5001f;
    position: absolute;
    top: 0;
    left: 0;
}

#img-6 {
    background-color:#b4d0e7;
    position: absolute;
    top: 0;
    left: 50%;
}

#img-7 {
    background-color:#0d2481;
    position: absolute;
    top: 50%;
    left: 0;
}

#img-8 {
    background-color: #ffd830;
    position: absolute;
    top: 50%;
    left: 50%;
}

/* SEZIONE 6 */
#s6 {
    background-color: #b4d0e7;
}

#s6 div {
    padding: 100px 0 200px ;
}

#s6 h1 {
    float: left;
    font-size: 40px;
    color:#61082b;
}

#s6 a {
    float: right;
    width: 30%;
    border: none;
    text-align: center;
    font-weight: 600;
}

/* SEZIONE 7 */
#s7 {
    margin: 100px 0;
}

#s7 h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

#s7 p {
    padding: 50px 0;
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
}

#s7 i {
    float: right;
}


/* FOOTER */
#foot {
    background-color: black;
    color: white;
}

.foot-colum {
    float: left;
    padding-right: 8%;
    padding-top: 100px;
}

.foot-colum ul {
    list-style-type: none;
}

.foot-colum h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.foot-colum li {
    line-height: 30px;
}

#lenguage {
    color: gray;
    padding: 50px 0 40px;
    border-top: gray 1px solid;
    float: left;
}

#bug {
    padding-bottom: 100px;
}