/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* utilizzati in più occasioni */
.button {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.center {
    width: 90%;
    margin: auto;
}

.b-alternative {
    color: black;
    background-color: white;
    border: 1px solid grey;
}

/* header */

/* navigation bar */
#top-bar {
    position: sticky;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.logo {
    float: left;
}

#top-bar a{
    float: right;
}

#top-bar li {
    display: inline-block;
    margin: 0 10px;
}

#ul-left{
    float: left;    
}

#ul-right {
    margin-left: 30%;
    float: left;
}



/* jumbotron */

#jumbo {
    background-color: lightblue;
    padding: 50px 0;
}



#jumbo img {
    float: right;
    height: 500px;
}

#jumbo h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 40px;
}

#left {
    float: left;
    max-width: 28%;
}

#left p{
    padding: 0 0 20px;
    line-height: 20px;
}

#left h2 {
    padding: 20px 0 30px;
}
.fa-arrow-down {
    font-size: 30px;
}

/* main */
.middle-main {
    width: 70%;
    margin: auto;
}




/* sezione1 */
#plane-cost h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.pillar {
    float: left;
    width: calc(90% / 3);
    border:1px solid gray;
    margin-top: 20px;

    /* debug */
    /* background-color: green;
    height: 100px; */
}

.p-center {
    margin: 20px 30px 0 30px;
}

.fa-user {
    font-size: 20px;
}
.plane {
    text-align:center;
    padding: 10px 0;
    border: grey 1px solid;

}
.p-inside {
    padding: 20px 10px 200px 20px;
    line-height: 50px;
    max-height: 1100px;
}

.p-inside hr {
    padding-right: 100px;
    display: inline-block;
    border: 0.5px solid gray
}

.fa-check {
    color: blue;
}

.p-inside ul {
    list-style-type: none;
}

.p-inside h2 {
    font-weight: bolder;
}
.p-inside-cost {
    font-weight: bolder;
    font-size: 20px;
} 
.p-inside p{
    font-size: 15px;
}

.space {
    margin-top: 20px;
}

/* sezione 2 */
#s2 {
    border: gray 1px solid;
    margin-top: 50px;
}

#s2-up {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}

#s2-left {
    float: left;
    line-height: 40px;
    padding: 20px 0 20px 20px;
}

#s2-right {
    float: right;
    padding: 40px 10px ;
}

#s3 {
    margin-top: 50px;
}

#s3 img {
    float: left;
    width: 55%;

}


#s3-text {
    float: right;
    width: 45%;
    padding-left: 10%;
    line-height: 30px;
}

#s3-text p{
    margin: 20px 0;
}







/* footer */

#foot {
    background-color: black;
    color: white;
}


.foot-colum {
    float: left;
    padding-right: 8%;
    padding-top: 100px;
}

.foot-colum ul {
    list-style-type: none;
}

.foot-colum h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.foot-colum li {
    line-height: 30px;
}

#lenguage {
    color: gray;
    padding: 50px 0 40px;
    border-top: gray 1px solid;
    float: left;
}

#bug {
    padding-bottom: 100px;
}